In [7]:
import os
import asyncio
from attribution.api_attribution import OpenAIAttributor
from attribution.experiment_logger import ExperimentLogger
from attribution.token_perturbation import (
    FixedPerturbationStrategy,
    NthNearestPerturbationStrategy,
)
attributor = OpenAIAttributor(
    openai_api_key=os.getenv("OPENAI_API_KEY")
)

logger = ExperimentLogger()

original_input = "Sally (a girl) has 3 brothers. Each brother has 2 sisters. How many sisters does she have?"
target_output = "George has 2 sisters."

await attributor.iterative_perturbation(
    original_input,
    perturbation_strategy=NthNearestPerturbationStrategy(n=-1),
    attribution_strategies=["target_output"],
    logger=logger,
    target_output=target_output,
    unit_definition="word"
)

logger.print_text_total_attribution()
logger.print_attribution_matrix(show_debug_cols=True)

In [5]:
attributor = OpenAIAttributor(
    openai_api_key=os.getenv("OPENAI_API_KEY")
)

logger = ExperimentLogger()

await attributor.iterative_perturbation(
    original_input,
    perturbation_strategy=NthNearestPerturbationStrategy(n=-1),
    attribution_strategies=["target_output_st"],
    logger=logger,
    target_output=target_output,
    unit_definition="word"
)

logger.print_text_total_attribution()
logger.print_attribution_matrix(show_debug_cols=True)

In [6]:
attributor = OpenAIAttributor(
    openai_api_key=os.getenv("OPENAI_API_KEY")
)

logger = ExperimentLogger()

await attributor.iterative_perturbation(
    original_input,
    perturbation_strategy=NthNearestPerturbationStrategy(n=-1),
    attribution_strategies=["target_output_llm"],
    logger=logger,
    target_output=target_output,
    unit_definition="word"
)

logger.print_text_total_attribution()
logger.print_attribution_matrix(show_debug_cols=True)

In [ ]:
attributor = OpenAIAttributor(
    openai_api_key=os.getenv("OPENAI_API_KEY")
)

logger = ExperimentLogger()

await attributor.iterative_perturbation(
    original_input,
    perturbation_strategy=NthNearestPerturbationStrategy(n=-1),
    attribution_strategies=["cosine"],
    logger=logger,
    unit_definition="word"
)

logger.print_text_total_attribution()
logger.print_attribution_matrix(show_debug_cols=True)