# PIZZA OpenAI Examples

Various examples working with the `OpenAIAttributor`. 

Before using this notebook, make sure to set your `OPENAI_API_KEY` evironment variable in a `.env` file.

## Setup

Setting up the attributor and consistent input arguments

In [2]:
from attribution.api_attribution import OpenAIAttributor
from attribution.experiment_logger import ExperimentLogger
from attribution.token_perturbation import (
    FixedPerturbationStrategy,
    NthNearestPerturbationStrategy,
    calculate_chunk_size,
    get_units_from_prompt,
)

# Re-import modified modules without restarting the server
%load_ext autoreload
%autoreload 2

# Load environment variables (OpenAI API key)
%load_ext dotenv
%dotenv

attributor = OpenAIAttributor(max_concurrent_requests=10)
perturbation_strategy = FixedPerturbationStrategy("!")

kwargs = {
    "attribution_strategies": ["cosine"],
    "unit_definition": "word",
    "ignore_output_token_location": True,
}

/home/andrew/leap/PIZZA/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Short prompts
Comparing full perturbation and hierarchical perturbation methods. We create a new logger for every prompt so that the two methods can be compared directly.

Using hierarchical perturbation we should see a reduction in `num_llm_calls`. This is not always the case for short prompts since perturbing every word may not require many API calls, but as prompt length increases perturbing every word becomes much less efficient.

### Aggregation

Since hierarchical perturbation produces multiple scores per token, we need some kind of aggregation method. By default this is "sum" which produces a saliency map, but here we use "last" which only retains the final score for that token (i.e. at the lowest depth), which is most similar to the full perturbation method.

In [7]:
short_prompts = [
    "What is the capital of the country that was formerly known as Siam? Answer in 1 word.",
    "What is the chemical element with the symbol 'Au'? Answer in 1 word.",
    "Which character in 'Pride and Prejudice' said 'It is a truth universally acknowledged'? Answer in 1 word.",
    "Who holds the record for the most goals in a calendar year in football (soccer)? Answer in 1 word.",
    "In Greek mythology, who is the goddess of wisdom and warfare? Answer in 1 word.",
    "Who directed the film 'Inception'? Answer in 1 word.",
    "Who is known as the 'King of Pop'? Answer in 1 word.",
    "Who was the first female Prime Minister of the United Kingdom? Answer in 1 word.",
    "Who is the co-founder of Microsoft? Answer in 1 word.",
]

for input_str in short_prompts:
    response = await attributor.get_chat_completion(input_str)

    logger = ExperimentLogger()

    await attributor.compute_attributions(
        input_str, perturbation_strategy=perturbation_strategy, logger=logger, **kwargs
    )

    await attributor.hierarchical_perturbation(
        input_str,
        init_chunk_size=4,
        perturbation_strategy=perturbation_strategy,
        static_threshold=0.5,
        logger=logger,
        verbosity=True,
        **kwargs,
    )

    logger.print_total_attribution(score_agg="last")
    display(logger.df_experiments)

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:02<00:00,  1.02s/it]

Stage 0: making 5 perturbations
Masked out tokens/words:
['What is']
['the capital of the']
['country that was formerly']
['known as Siam? Answer']
['in 1 word.']
Stage 1: making 6 perturbations
Masked out tokens/words:
['1 word.']
['in']
['Siam? Answer']
['known as']
['of the']
['the capital']
Stage 2: making 4 perturbations
Masked out tokens/words:
['Answer']
['Siam?']
['capital']
['the']

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,What is the capital of the country that was fo...,Bangkok,fixed,word,2.190433,18
1,2,What is the capital of the country that was fo...,Bangkok,fixed,word,2.394329,16

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.64it/s]

Stage 0: making 4 perturbations
Masked out tokens/words:
['What is']
['the chemical element with']
["the symbol 'Au'? Answer"]
['in 1 word.']
Stage 1: making 2 perturbations
Masked out tokens/words:
["'Au'? Answer"]
['the symbol']
Stage 2: making 2 perturbations
Masked out tokens/words:
['Answer']
["'Au'?"]

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,What is the chemical element with the symbol '...,Gold,fixed,word,1.315215,14
1,2,What is the chemical element with the symbol '...,Gold,fixed,word,1.69171,9

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.60it/s]

Stage 0: making 5 perturbations
Masked out tokens/words:
['Which character']
["in 'Pride and Prejudice'"]
["said 'It is a"]
["truth universally acknowledged'? Answer"]
['in 1 word.']
Stage 1: making 6 perturbations
Masked out tokens/words:
['1 word.']
['in']
["acknowledged'? Answer"]
['truth universally']
['character']
['Which']
Stage 2: making 2 perturbations
Masked out tokens/words:
['word.']
['1']

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,Which character in 'Pride and Prejudice' said ...,Elizabeth,fixed,word,1.427438,18
1,2,Which character in 'Pride and Prejudice' said ...,Elizabeth,fixed,word,4.105302,14

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.15it/s]

Stage 0: making 6 perturbations
Masked out tokens/words:
['Who holds']
['the record for the']
['most goals in a']
['calendar year in football']
['(soccer)? Answer in 1']
['word.']
Stage 1: making 4 perturbations
Masked out tokens/words:
['in 1']
['(soccer)? Answer']
['in football']
['calendar year']
Stage 2: making 4 perturbations
Masked out tokens/words:
['1']
['in']
['year']
['calendar']

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,Who holds the record for the most goals in a c...,Messi,fixed,word,1.913311,20
1,2,Who holds the record for the most goals in a c...,Messi,fixed,word,3.393577,15

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.23it/s]

Stage 0: making 5 perturbations
Masked out tokens/words:
['In Greek']
['mythology, who is the']
['goddess of wisdom and']
['warfare? Answer in 1']
['word.']
Stage 1: making 4 perturbations
Masked out tokens/words:
['in 1']
['warfare? Answer']
['wisdom and']
['goddess of']
Stage 2: making 2 perturbations
Masked out tokens/words:
['1']
['in']

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,"In Greek mythology, who is the goddess of wisd...",Athena,fixed,word,1.806731,16
1,2,"In Greek mythology, who is the goddess of wisd...",Athena,fixed,word,2.967024,12

Stage 0: making 3 perturbations
Masked out tokens/words:
['Who directed']
["the film 'Inception'? Answer"]
['in 1 word.']
Stage 1: making 6 perturbations
Masked out tokens/words:
['1 word.']
['in']
["'Inception'? Answer"]
['the film']
['directed']
['Who']
Stage 2: making 4 perturbations
Masked out tokens/words:
['word.']
['1']
['Answer']
["'Inception'?"]

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,Who directed the film 'Inception'? Answer in 1...,Nolan,fixed,word,0.92455,10
1,2,Who directed the film 'Inception'? Answer in 1...,Nolan,fixed,word,2.176965,14

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:00<00:00,  2.56it/s]

Stage 0: making 4 perturbations
Masked out tokens/words:
['Who is']
["known as the 'King"]
["of Pop'? Answer in"]
['1 word.']
Stage 1: making 2 perturbations
Masked out tokens/words:
['Answer in']
["of Pop'?"]
Stage 2: making 2 perturbations
Masked out tokens/words:
["Pop'?"]
['of']

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,Who is known as the 'King of Pop'? Answer in 1...,Michael,fixed,word,0.870925,13
1,2,Who is known as the 'King of Pop'? Answer in 1...,Michael,fixed,word,1.62511,9

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:00<00:00,  2.22it/s]

Stage 0: making 5 perturbations
Masked out tokens/words:
['Who was']
['the first female Prime']
['Minister of the United']
['Kingdom? Answer in 1']
['word.']
Stage 1: making 4 perturbations
Masked out tokens/words:
['in 1']
['Kingdom? Answer']
['female Prime']
['the first']
Stage 2: making 6 perturbations
Masked out tokens/words:
['Answer']
['Kingdom?']
['Prime']
['female']
['first']
['the']

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,Who was the first female Prime Minister of the...,Margaret,fixed,word,1.055347,16
1,2,Who was the first female Prime Minister of the...,Margaret,fixed,word,2.199023,16

Stage 0: making 3 perturbations
Masked out tokens/words:
['Who is']
['the co-founder of Microsoft?']
['Answer in 1 word.']
Stage 1: making 2 perturbations
Masked out tokens/words:
['of Microsoft?']
['the co-founder']
Stage 2: making 4 perturbations
Masked out tokens/words:
['Microsoft?']
['of']
['co-founder']
['the']

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,Who is the co-founder of Microsoft? Answer in ...,Bill,fixed,word,0.687134,11
1,2,Who is the co-founder of Microsoft? Answer in ...,Bill,fixed,word,1.825372,10

## Longer prompts
Here we use hierarchical perturbation only, and we can see from the resulting `num_llm_calls` that it is much more efficient than perturbing every unit in the prompt.

In [6]:
longer_prompts = [
    "In J.K. Rowling's Harry Potter series, the spell used to conjure a Patronus is considered highly advanced and can only be performed by skilled witches and wizards. The form that a Patronus takes can vary widely and is often influenced by the caster's personality and experiences. What form does Snape's Patronus take? Answer in 1 word.",
    "In the field of astronomy, there is a phenomenon where the light from a star is bent and magnified by the gravitational field of another object, such as a galaxy or black hole, that lies between the star and the observer. This effect was first predicted by Einstein's theory of general relativity. What is this phenomenon called? Answer in 1 word.",
    "Located in South America, there is a vast river that flows through Brazil, Peru, and several other countries. It is the largest river by discharge volume of water in the world and is often associated with the rainforest of the same name. What is the name of this river? Answer in 1 word.",
    "In Norse mythology, there is a hammer wielded by the god Thor, which is renowned for its immense power and is said to be capable of leveling mountains. This hammer is also a symbol of protection and blessing. What is the name of Thor's hammer? Answer in 1 word.",
    "In the movie 'The Matrix,' the protagonist is a computer hacker who learns about the true nature of his reality and his role in the war against its controllers. He is given a choice between two pills: a red pill that reveals the truth, and a blue pill that returns him to his normal life. What is the name of the protagonist? Answer in 1 word.",
    "There is a famous painting by Vincent van Gogh that depicts a night sky filled with swirling clouds, stars, and a bright crescent moon. This painting is one of his most well-known works and was created while he was in a mental asylum in Saint-Rémy-de-Provence. What is the title of this painting? Answer in 1 word.",
    "In classical music, there is a composer who is renowned for his symphonies, concertos, and sonatas. Born in Salzburg in 1756, he began composing music at a very young age and created over 600 works during his lifetime. What is the last name of this composer? Answer in 1 word.",
    "In the realm of computer programming, there is a widely used language that was developed by Guido van Rossum and first released in 1991. It emphasizes code readability and its syntax allows programmers to express concepts in fewer lines of code. What is the name of this programming language? Answer in 1 word.",
    "In the study of genetics, there is a molecule that carries the genetic instructions used in the growth, development, functioning, and reproduction of all known living organisms and many viruses. This molecule is structured as a double helix and was first described by Watson and Crick in 1953. What is the abbreviation for this molecule? Answer in 1 word.",
]

logger = ExperimentLogger()
for input_str in longer_prompts:
    units, _ = get_units_from_prompt(
        input_str, attributor.tokenizer, unit_definition=kwargs["unit_definition"]
    )
    print("Running prompt:", input_str, f"Total units: {len(units)}", sep="\n")
    await attributor.hierarchical_perturbation(
        input_str,
        init_chunk_size=8,
        perturbation_strategy=perturbation_strategy,
        static_threshold=0.5,
        logger=logger,
        **kwargs,
    )

logger.print_total_attribution()
display(logger.df_experiments)

Running prompt:
In J.K. Rowling's Harry Potter series, the spell used to conjure a Patronus is considered highly advanced and can only be performed by skilled witches and wizards. The form that a Patronus takes can vary widely and is often influenced by the caster's personality and experiences. What form does Snape's Patronus take? Answer in 1 word.
Total units: 56
Stage 0: making 8 perturbations
Stage 1: making 4 perturbations
Stage 2: making 4 perturbations
Stage 3: making 2 perturbations
Running prompt:
In the field of astronomy, there is a phenomenon where the light from a star is bent and magnified by the gravitational field of another object, such as a galaxy or black hole, that lies between the star and the observer. This effect was first predicted by Einstein's theory of general relativity. What is this phenomenon called? Answer in 1 word.
Total units: 61
Stage 0: making 9 perturbations
Running prompt:
Located in South America, there is a vast river that flows through Brazil, Peru, and several other countries. It is the largest river by discharge volume of water in the world and is often associated with the rainforest of the same name. What is the name of this river? Answer in 1 word.
Total units: 53
Stage 0: making 8 perturbations
Running prompt:
In Norse mythology, there is a hammer wielded by the god Thor, which is renowned for its immense power and is said to be capable of leveling mountains. This hammer is also a symbol of protection and blessing. What is the name of Thor's hammer? Answer in 1 word.
Total units: 49
Stage 0: making 7 perturbations
Stage 1: making 2 perturbations
Stage 2: making 4 perturbations
Stage 3: making 2 perturbations
Running prompt:
In the movie 'The Matrix,' the protagonist is a computer hacker who learns about the true nature of his reality and his role in the war against its controllers. He is given a choice between two pills: a red pill that reveals the truth, and a blue pill that returns him to his normal life. What is the name of the protagonist? Answer in 1 word.
Total units: 66
Stage 0: making 9 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Stage 3: making 2 perturbations
Running prompt:
There is a famous painting by Vincent van Gogh that depicts a night sky filled with swirling clouds, stars, and a bright crescent moon. This painting is one of his most well-known works and was created while he was in a mental asylum in Saint-Rémy-de-Provence. What is the title of this painting? Answer in 1 word.
Total units: 56
Stage 0: making 8 perturbations
Stage 1: making 4 perturbations
Stage 2: making 2 perturbations
Running prompt:
In classical music, there is a composer who is renowned for his symphonies, concertos, and sonatas. Born in Salzburg in 1756, he began composing music at a very young age and created over 600 works during his lifetime. What is the last name of this composer? Answer in 1 word.
Total units: 50
Stage 0: making 7 perturbations
Running prompt:
In the realm of computer programming, there is a widely used language that was developed by Guido van Rossum and first released in 1991. It emphasizes code readability and its syntax allows programmers to express concepts in fewer lines of code. What is the name of this programming language? Answer in 1 word.
Total units: 53
Stage 0: making 8 perturbations
Running prompt:
In the study of genetics, there is a molecule that carries the genetic instructions used in the growth, development, functioning, and reproduction of all known living organisms and many viruses. This molecule is structured as a double helix and was first described by Watson and Crick in 1953. What is the abbreviation for this molecule? Answer in 1 word.
Total units: 59
Stage 0: making 8 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Stage 3: making 2 perturbations

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,"In J.K. Rowling's Harry Potter series, the spe...",Doe,fixed,word,4.582696,19
1,2,"In the field of astronomy, there is a phenomen...",Gravitational lensing,fixed,word,3.688525,10
2,3,"Located in South America, there is a vast rive...",Amazon,fixed,word,0.736288,9
3,4,"In Norse mythology, there is a hammer wielded ...",Mjölnir,fixed,word,3.843825,16
4,5,"In the movie 'The Matrix,' the protagonist is ...",Neo,fixed,word,3.213737,16
5,6,There is a famous painting by Vincent van Gogh...,Starry Night,fixed,word,3.119907,15
6,7,"In classical music, there is a composer who is...",Mozart,fixed,word,1.183383,8
7,8,"In the realm of computer programming, there is...",Python,fixed,word,0.829087,9
8,9,"In the study of genetics, there is a molecule ...",DNA,fixed,word,3.559484,15

###

### Attribution matrices

We can also inspect the attribution matrices for different experiments.

In [7]:
for exp_id in (6, 7):
    logger.print_attribution_matrix(exp_id=exp_id)

Attribution matrix for experiment 6
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Attribution matrix for experiment 7
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

## Calculating chunksize
Instead of specifying an initial chunksize directly, one can be compute based on a fraction or number of desired windows.

In [8]:
mixed_prompts = [
    "Who painted the 'Mona Lisa'? Answer in 1 word.",
    "During the American Civil War, there was a significant battle fought from July 1 to July 3, 1863, which is often considered the turning point of the war. This battle took place in Pennsylvania and ended with a decisive victory for the Union forces. What is the name of this battle? Answer in 1 word.",
]

logger = ExperimentLogger()
for i, input_str in enumerate(mixed_prompts):
    response = await attributor.get_chat_completion(input_str)

    units, _ = get_units_from_prompt(input_str, attributor.tokenizer, unit_definition="word")
    chunksize = calculate_chunk_size(len(units), fraction=0.25)
    print(f"Using chunksize: {chunksize}")

    await attributor.hierarchical_perturbation(
        input_str,
        init_chunk_size=chunksize,
        perturbation_strategy=perturbation_strategy,
        static_threshold=0.5,
        logger=logger,
        **kwargs,
    )
    logger.print_attribution_matrix(exp_id=i + 1)

logger.print_total_attribution()
display(logger.df_experiments)

Using chunksize: 2
Stage 0: making 5 perturbations
Stage 1: making 2 perturbations
Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

Using chunksize: 13
Stage 0: making 5 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Stage 3: making 2 perturbations
Stage 4: making 2 perturbations
Attribution matrix for experiment 2
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,Who painted the 'Mona Lisa'? Answer in 1 word.,Da Vinci,fixed,word,1.646538,8
1,2,"During the American Civil War, there was a sig...",Gettysburg,fixed,word,4.963432,14

## Answer only in the question prompts
Here the answer we are looking for lies in the prompt itself (no general knowledge questions). These prompts are particularly sensitive to perturbations, and so we can try different perturbation strategies to mess with the model.

In [9]:
perturbation_strategies = [
    FixedPerturbationStrategy(),
    NthNearestPerturbationStrategy(n=0),
    NthNearestPerturbationStrategy(n=-1),
]

In [10]:
self_fulfilling_prompts = [
    "The clock shows 9:47 PM. How many minutes to 10PM?",
    "Maria is 37 years old today. How many years till she's 50?",
    "John has 83 books on his shelf. If he buys 17 more books, how many books will he have in total?",
    "The building is 132 meters tall. How many centimeters tall is the building? No explanation",
    "The package weighs 8.6 kilograms. How many grams does the package weigh?",
    "Jack has 12 teaspoons of sugar. How many tablespoons of sugar does he have?",
    "Alex saved $363 from his birthday gifts. If he spends $45 on a new game, how much money will he have left? No explanation.",
    "The building is 132 meters tall. How many centimeters tall is the building? No explanation.",
    "The thermometer reads 23 degrees Celsius. What is the temperature in Fahrenheit? No explanation.",
    "There are 12 eggs in a dozen. If you use 5 eggs, how many eggs are left?",
]

logger = ExperimentLogger()

for input_str in self_fulfilling_prompts:
    print(f"Running prompt: '{input_str}'")

    for perturb_strat in perturbation_strategies:
        print(f"Using perturbation strategy: {perturb_strat}")
        await attributor.hierarchical_perturbation(
            input_str,
            init_chunk_size=4,
            perturbation_strategy=perturb_strat,
            static_threshold=0.5,
            logger=logger,
            **kwargs,
        )

display(logger.df_experiments)
logger.print_total_attribution()

Running prompt: 'The clock shows 9:47 PM. How many minutes to 10PM?'
Using perturbation strategy: fixed
Stage 0: making 3 perturbations
Stage 1: making 2 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 3 perturbations
Stage 1: making 4 perturbations
Stage 2: making 4 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 3 perturbations
Stage 1: making 2 perturbations
Stage 2: making 4 perturbations
Running prompt: 'Maria is 37 years old today. How many years till she's 50?'
Using perturbation strategy: fixed
Stage 0: making 4 perturbations
Stage 1: making 2 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 2 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Running prompt: 'John has 83 books on his shelf. If he buys 17 more books, how many books will he have in total?'
Using perturbation strategy: fixed
Stage 0: making 6 perturbations
Stage 1: making 6 perturbations
Stage 2: making 4 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 6 perturbations
Stage 1: making 2 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 6 perturbations
Stage 1: making 6 perturbations
Stage 2: making 4 perturbations
Running prompt: 'The building is 132 meters tall. How many centimeters tall is the building? No explanation'
Using perturbation strategy: fixed
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 5 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Running prompt: 'The package weighs 8.6 kilograms. How many grams does the package weigh?'
Using perturbation strategy: fixed
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 4 perturbations
Stage 1: making 2 perturbations
Stage 2: making 2 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 4 perturbations
Stage 1: making 6 perturbations
Stage 2: making 8 perturbations
Running prompt: 'Jack has 12 teaspoons of sugar. How many tablespoons of sugar does he have?'
Using perturbation strategy: fixed
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 4 perturbations
Stage 1: making 2 perturbations
Stage 2: making 4 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 8 perturbations
Running prompt: 'Alex saved $363 from his birthday gifts. If he spends $45 on a new game, how much money will he have left? No explanation.'
Using perturbation strategy: fixed
Stage 0: making 7 perturbations
Stage 1: making 4 perturbations
Stage 2: making 2 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 7 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 7 perturbations
Stage 1: making 6 perturbations
Stage 2: making 4 perturbations
Running prompt: 'The building is 132 meters tall. How many centimeters tall is the building? No explanation.'
Using perturbation strategy: fixed
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 4 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 5 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 5 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Running prompt: 'The thermometer reads 23 degrees Celsius. What is the temperature in Fahrenheit? No explanation.'
Using perturbation strategy: fixed
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 4 perturbations
Stage 1: making 2 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 4 perturbations
Stage 1: making 4 perturbations
Stage 2: making 6 perturbations
Running prompt: 'There are 12 eggs in a dozen. If you use 5 eggs, how many eggs are left?'
Using perturbation strategy: fixed
Stage 0: making 5 perturbations
Stage 1: making 2 perturbations
Stage 2: making 4 perturbations
Using perturbation strategy: nth_nearest (n=0)
Stage 0: making 5 perturbations
Using perturbation strategy: nth_nearest (n=-1)
Stage 0: making 5 perturbations
Stage 1: making 6 perturbations
Stage 2: making 4 perturbations

,exp_id,original_input,original_output,perturbation_strategy,unit_definition,duration,num_llm_calls
0,1,The clock shows 9:47 PM. How many minutes to 1...,There are 13 minutes left until 10:00 PM.,fixed,word,2.595192,6
1,2,The clock shows 9:47 PM. How many minutes to 1...,13 minutes.,nth_nearest (n=0),word,9.242892,12
2,3,The clock shows 9:47 PM. How many minutes to 1...,There are 13 minutes left until 10:00 PM.,nth_nearest (n=-1),word,8.281744,10
3,4,Maria is 37 years old today. How many years ti...,Maria is 13 years away from turning 50.,fixed,word,2.829744,7
4,5,Maria is 37 years old today. How many years ti...,Maria is 13 years away from turning 50.,nth_nearest (n=0),word,8.46067,11
5,6,Maria is 37 years old today. How many years ti...,Maria is 13 years away from turning 50.,nth_nearest (n=-1),word,7.752234,9
6,7,John has 83 books on his shelf. If he buys 17 ...,John will have 100 books in total. \n\n83 + 17...,fixed,word,9.266652,17
7,8,John has 83 books on his shelf. If he buys 17 ...,John will have 100 books in total. \n\n83 + 17...,nth_nearest (n=0),word,7.658005,9
8,9,John has 83 books on his shelf. If he buys 17 ...,John will have 100 books in total. \n\n83 + 17...,nth_nearest (n=-1),word,12.859274,17
9,10,The building is 132 meters tall. How many cent...,"13,200 centimeters",fixed,word,4.005603,16
10,11,The building is 132 meters tall. How many cent...,"13,200 centimeters",nth_nearest (n=0),word,4.492178,6
11,12,The building is 132 meters tall. How many cent...,"13,200 centimeters",nth_nearest (n=-1),word,10.916661,16
12,13,The package weighs 8.6 kilograms. How many gra...,"To convert kilograms to grams, you need to mul...",fixed,word,8.249298,15
13,14,The package weighs 8.6 kilograms. How many gra...,"To convert kilograms to grams, you need to mul...",nth_nearest (n=0),word,11.709254,9
14,15,The package weighs 8.6 kilograms. How many gra...,"To convert kilograms to grams, you need to mul...",nth_nearest (n=-1),word,14.554826,19
15,16,Jack has 12 teaspoons of sugar. How many table...,"There are 3 teaspoons in 1 tablespoon. \n\nSo,...",fixed,word,6.135555,15
16,17,Jack has 12 teaspoons of sugar. How many table...,"There are 3 teaspoons in 1 tablespoon. \n\nSo,...",nth_nearest (n=0),word,9.711553,11
17,18,Jack has 12 teaspoons of sugar. How many table...,"There are 3 teaspoons in 1 tablespoon. \n\nSo,...",nth_nearest (n=-1),word,12.598896,17
18,19,Alex saved $363 from his birthday gifts. If he...,$318,fixed,word,3.750739,14
19,20,Alex saved $363 from his birthday gifts. If he...,$318,nth_nearest (n=0),word,7.275196,8
20,21,Alex saved $363 from his birthday gifts. If he...,$318,nth_nearest (n=-1),word,13.155543,18
21,22,The building is 132 meters tall. How many cent...,"13,200 centimeters",fixed,word,4.36677,14
22,23,The building is 132 meters tall. How many cent...,"13,200 centimeters",nth_nearest (n=0),word,4.602102,6
23,24,The building is 132 meters tall. How many cent...,"13,200 centimeters",nth_nearest (n=-1),word,10.769225,16
24,25,The thermometer reads 23 degrees Celsius. What...,73.4 degrees Fahrenheit,fixed,word,5.229974,15
25,26,The thermometer reads 23 degrees Celsius. What...,73.4 degrees Fahrenheit,nth_nearest (n=0),word,6.073481,7
26,27,The thermometer reads 23 degrees Celsius. What...,73.4 degrees Fahrenheit,nth_nearest (n=-1),word,11.146508,15
27,28,There are 12 eggs in a dozen. If you use 5 egg...,There would be 7 eggs left.,fixed,word,3.476092,12
28,29,There are 12 eggs in a dozen. If you use 5 egg...,There would be 7 eggs left.,nth_nearest (n=0),word,5.039042,6
29,30,There are 12 eggs in a dozen. If you use 5 egg...,There would be 7 eggs left.,nth_nearest (n=-1),word,11.025268,16