In [65]:
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

# Re-import modified modules without restarting the server
%load_ext autoreload
%autoreload 2
%load_ext dotenv
%dotenv

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [66]:
from attribution.api_attribution import OpenAIAttributor
from attribution.experiment_logger import ExperimentLogger
from attribution.token_perturbation import (
    FixedPerturbationStrategy,
)

attributor = OpenAIAttributor(request_chunksize=10)

In [67]:
kwargs = {
    "perturbation_strategy": FixedPerturbationStrategy(""),
    "attribution_strategies": ["cosine"],  
    "perturb_word_wise": True,
    "ignore_output_token_location": True,
}

In [68]:
input_str = "Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word."
response = await attributor.get_chat_completion(input_str)
print(response.message.content)

Apples

In [69]:
logger = ExperimentLogger()
await attributor.compute_attributions(
    input_str,
    logger=logger,
    **kwargs
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

Sending 10 concurrent requests at a time: 100%|██████████| 3/3 [00:01<00:00,  1.57it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Mary puts an apple in the box. The box is labe...,Apples,fixed,True,2.406061,28

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

In [70]:
logger = ExperimentLogger()
await attributor.hierarchical_perturbation(
    input_str,
    init_chunksize=8,
    stages=4,
    logger=logger,
    **kwargs
)
display(logger.df_experiments)
logger.print_sentence_attribution()
logger.print_attribution_matrix(exp_id=1, show_debug_cols=True)

processing chunk:  box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box?
processing chunk:  in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in
processing chunk:  an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.39it/s]

processing chunk:  puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an in the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple the box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in box. The box is labelled 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is 'pencils'. John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled John enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. enters the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John the room. What does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. does he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What he think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does think is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he is in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think in the box? Answer in 1 word.
processing chunk: Mary puts an apple in the box. The box is labelled 'pencils'. John enters the room. What does he think is the box? Answer in 1 word.

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.50it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Mary puts an apple in the box. The box is labe...,Apples,fixed,True,7.181204,45

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)

In [87]:
short_prompts = [
    "What is the capital of the country that was formerly known as Siam? Answer in 1 word.",
    "What is the chemical element with the symbol 'Au'? Answer in 1 word.",
    "Which character in 'Pride and Prejudice' said 'It is a truth universally acknowledged'? Answer in 1 word.",
    "Who holds the record for the most goals in a calendar year in football (soccer)? Answer in 1 word.",
    "In Greek mythology, who is the goddess of wisdom and warfare? Answer in 1 word.",
    "Who directed the film 'Inception'? Answer in 1 word.",
    "Who is known as the 'King of Pop'? Answer in 1 word.",
    "Who was the first female Prime Minister of the United Kingdom? Answer in 1 word.",
    "Who is the co-founder of Microsoft? Answer in 1 word.",
    "Who painted the 'Mona Lisa'? Answer in 1 word.",
]

for input_str in short_prompts:
    response = await attributor.get_chat_completion(input_str)

    logger = ExperimentLogger()

    await attributor.compute_attributions(
        input_str,
        logger=logger,
        **kwargs
    )
    # logger.print_sentence_attribution()
    # logger.print_attribution_matrix(exp_id=1, attribution_strategy="cosine")
    
    await attributor.hierarchical_perturbation(
        input_str,
        init_chunksize=8,
        logger=logger,
        **kwargs
    )

    logger.print_sentence_attribution()
    # logger.print_attribution_matrix(exp_id=2, attribution_strategy="cosine")
    display(logger.df_experiments)

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.45it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,What is the capital of the country that was fo...,Bangkok,fixed,True,1.678971,17
1,2,What is the capital of the country that was fo...,Bangkok,fixed,True,5.58223,16

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.52it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,What is the chemical element with the symbol '...,Gold,fixed,True,1.474567,13
1,2,What is the chemical element with the symbol '...,Gold,fixed,True,2.277653,7

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.03it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Which character in 'Pride and Prejudice' said ...,Elizabeth,fixed,True,2.13613,17
1,2,Which character in 'Pride and Prejudice' said ...,Elizabeth,fixed,True,5.94796,14

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.59it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who holds the record for the most goals in a c...,Messi,fixed,True,1.580562,19
1,2,Who holds the record for the most goals in a c...,Messi,fixed,True,5.584942,16

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.13it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In Greek mythology, who is the goddess of wisd...",Athena,fixed,True,2.087866,15
1,2,"In Greek mythology, who is the goddess of wisd...",Athena,fixed,True,20.442793,13

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who directed the film 'Inception'? Answer in 1...,Nolan,fixed,True,1.382334,9
1,2,Who directed the film 'Inception'? Answer in 1...,Nolan,fixed,True,3.769055,15

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.87it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who is known as the 'King of Pop'? Answer in 1...,Michael,fixed,True,1.215739,12
1,2,Who is known as the 'King of Pop'? Answer in 1...,Michael,fixed,True,3.233156,11

Sending 10 concurrent requests at a time: 100%|██████████| 2/2 [00:01<00:00,  1.76it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who was the first female Prime Minister of the...,Margaret,fixed,True,1.376653,15
1,2,Who was the first female Prime Minister of the...,Margaret,fixed,True,4.23889,21

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who is the co-founder of Microsoft? Answer in ...,Bill,fixed,True,1.354034,10
1,2,Who is the co-founder of Microsoft? Answer in ...,Bill,fixed,True,2.160125,11

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,Who painted the 'Mona Lisa'? Answer in 1 word.,Da Vinci,fixed,True,1.130457,9
1,2,Who painted the 'Mona Lisa'? Answer in 1 word.,Da Vinci,fixed,True,3.03571,9

In [89]:
longer_prompts = [
    "In J.K. Rowling's Harry Potter series, the spell used to conjure a Patronus is considered highly advanced and can only be performed by skilled witches and wizards. The form that a Patronus takes can vary widely and is often influenced by the caster's personality and experiences. What form does Snape's Patronus take? Answer in 1 word.",
    "During the American Civil War, there was a significant battle fought from July 1 to July 3, 1863, which is often considered the turning point of the war. This battle took place in Pennsylvania and ended with a decisive victory for the Union forces. What is the name of this battle? Answer in 1 word.",
    "In the field of astronomy, there is a phenomenon where the light from a star is bent and magnified by the gravitational field of another object, such as a galaxy or black hole, that lies between the star and the observer. This effect was first predicted by Einstein's theory of general relativity. What is this phenomenon called? Answer in 1 word.",
    "Located in South America, there is a vast river that flows through Brazil, Peru, and several other countries. It is the largest river by discharge volume of water in the world and is often associated with the rainforest of the same name. What is the name of this river? Answer in 1 word.",
    "In Norse mythology, there is a hammer wielded by the god Thor, which is renowned for its immense power and is said to be capable of leveling mountains. This hammer is also a symbol of protection and blessing. What is the name of Thor's hammer? Answer in 1 word.",
    "In the movie 'The Matrix,' the protagonist is a computer hacker who learns about the true nature of his reality and his role in the war against its controllers. He is given a choice between two pills: a red pill that reveals the truth, and a blue pill that returns him to his normal life. What is the name of the protagonist? Answer in 1 word.",
    "There is a famous painting by Vincent van Gogh that depicts a night sky filled with swirling clouds, stars, and a bright crescent moon. This painting is one of his most well-known works and was created while he was in a mental asylum in Saint-Rémy-de-Provence. What is the title of this painting? Answer in 1 word.",
    "In classical music, there is a composer who is renowned for his symphonies, concertos, and sonatas. Born in Salzburg in 1756, he began composing music at a very young age and created over 600 works during his lifetime. What is the last name of this composer? Answer in 1 word.",
    "In the realm of computer programming, there is a widely used language that was developed by Guido van Rossum and first released in 1991. It emphasizes code readability and its syntax allows programmers to express concepts in fewer lines of code. What is the name of this programming language? Answer in 1 word.",
    "In the study of genetics, there is a molecule that carries the genetic instructions used in the growth, development, functioning, and reproduction of all known living organisms and many viruses. This molecule is structured as a double helix and was first described by Watson and Crick in 1953. What is the abbreviation for this molecule? Answer in 1 word.",
]

for input_str in longer_prompts:
    response = await attributor.get_chat_completion(input_str)
    print(response.message.content)

    logger = ExperimentLogger()

    await attributor.compute_attributions(
        input_str,
        logger=logger,
        **kwargs
    )

    await attributor.hierarchical_perturbation(
        input_str,
        init_chunksize=8,
        logger=logger,
        **kwargs
    )

    logger.print_sentence_attribution()
    display(logger.df_experiments)

Doe

Sending 10 concurrent requests at a time: 100%|██████████| 6/6 [00:02<00:00,  2.29it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In J.K. Rowling's Harry Potter series, the spe...",Doe,fixed,True,3.684383,56
1,2,"In J.K. Rowling's Harry Potter series, the spe...",Doe,fixed,True,11.911259,18

Gettysburg

Sending 10 concurrent requests at a time: 100%|██████████| 6/6 [00:23<00:00,  4.00s/it]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"During the American Civil War, there was a sig...",Gettysburg,fixed,True,25.12442,55
1,2,"During the American Civil War, there was a sig...",Gettysburg,fixed,True,11.855911,12

Gravitational lensing

Sending 10 concurrent requests at a time: 100%|██████████| 7/7 [00:12<00:00,  1.74s/it]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In the field of astronomy, there is a phenomen...",Gravitational lensing,fixed,True,14.164708,61
1,2,"In the field of astronomy, there is a phenomen...",Gravitational lensing,fixed,True,5.172004,15

Amazon

Sending 10 concurrent requests at a time: 100%|██████████| 6/6 [00:09<00:00,  1.55s/it]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"Located in South America, there is a vast rive...",Amazon,fixed,True,10.000678,53
1,2,"Located in South America, there is a vast rive...",Amazon,fixed,True,3.26585,14

Mjölnir

Sending 10 concurrent requests at a time: 100%|██████████| 5/5 [00:02<00:00,  2.06it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In Norse mythology, there is a hammer wielded ...",Mjölnir,fixed,True,3.866758,49
1,2,"In Norse mythology, there is a hammer wielded ...",Mjölnir,fixed,True,4.070985,12

Neo

Sending 10 concurrent requests at a time: 100%|██████████| 7/7 [00:13<00:00,  1.94s/it]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In the movie 'The Matrix,' the protagonist is ...",Neo,fixed,True,14.733639,66
1,2,"In the movie 'The Matrix,' the protagonist is ...",Neo,fixed,True,3.399363,16

Starry Night

Sending 10 concurrent requests at a time: 100%|██████████| 6/6 [00:07<00:00,  1.31s/it]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,There is a famous painting by Vincent van Gogh...,Starry Night,fixed,True,9.114461,56
1,2,There is a famous painting by Vincent van Gogh...,Starry Night,fixed,True,4.888605,14

Mozart

Sending 10 concurrent requests at a time: 100%|██████████| 5/5 [00:02<00:00,  2.20it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In classical music, there is a composer who is...",Mozart,fixed,True,3.405212,50
1,2,"In classical music, there is a composer who is...",Mozart,fixed,True,1.579107,8

Python

Sending 10 concurrent requests at a time: 100%|██████████| 6/6 [00:02<00:00,  2.10it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In the realm of computer programming, there is...",Python,fixed,True,3.615485,53
1,2,"In the realm of computer programming, there is...",Python,fixed,True,2.696447,12

DNA

Sending 10 concurrent requests at a time: 100%|██████████| 6/6 [00:02<00:00,  2.30it/s]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In the study of genetics, there is a molecule ...",DNA,fixed,True,3.461527,59
1,2,"In the study of genetics, there is a molecule ...",DNA,fixed,True,2.549622,11

In [86]:
longer_prompts = [
    # "In J.K. Rowling's Harry Potter series, the spell used to conjure a Patronus is considered highly advanced and can only be performed by skilled witches and wizards. The form that a Patronus takes can vary widely and is often influenced by the caster's personality and experiences. What form does Snape's Patronus take? Answer in 1 word.",
    # "In J.K. Rowling's Harry Potter series, the spell used to conjure a Patronus is considered highly advanced and can only be performed by skilled witches and wizards. The form that a Patronus takes can vary widely and is often influenced by the caster's personality and experiences. What form does Severus Snape's Patronus take? Answer in 1 word.",
    "In J.K. Rowling's Harry Potter series, the spell used to conjure a Patronus is considered highly advanced and can only be performed by skilled witches and wizards. The form that a Patronus takes can vary widely and is often influenced by the caster's personality and experiences. What form does Malfoy's Patronus take? Answer in 1 word.",
]

for input_str in longer_prompts:
    response = await attributor.get_chat_completion(input_str)
    print(response.message.content)

    logger = ExperimentLogger()

    await attributor.compute_attributions(
        input_str,
        logger=logger,
        **kwargs
    )

    await attributor.hierarchical_perturbation(
        input_str,
        init_chunksize=8,
        logger=logger,
        **kwargs
    )

    logger.print_sentence_attribution()
    display(logger.df_experiments)

Snake

Sending 10 concurrent requests at a time: 100%|██████████| 6/6 [00:07<00:00,  1.26s/it]

,exp_id,original_input,original_output,perturbation_strategy,perturb_word_wise,duration,num_llm_calls
0,1,"In J.K. Rowling's Harry Potter series, the spe...",Snake,fixed,True,8.395655,56
1,2,"In J.K. Rowling's Harry Potter series, the spe...",Snake,fixed,True,11.942478,24

In [85]:
logger.print_attribution_matrix(exp_id=1,  show_debug_cols=True)

Attribution matrix for experiment 1
Attribution Strategy: cosine
Perturbation strategy: fixed:
Input Tokens (Rows) vs. Output Tokens (Columns)